* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Gothic A1", sans-serif;
  background-color: #1c4835;
  background-image: url("../images/sparkles.png");
  background-size: 100%;
  /* background-position: center; */
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-weight: bold;
  color: #ffe699;
}

.container {
  position: relative;
  min-height: 100vh;
}

.wrapper {
  padding-bottom: 50px;
}

.navbar-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  width: 100%;
  padding-left: 450px;
  padding-right: 450px;
  font-size: 20px;
  font-weight: bold;
  background-color: #1c4835;
}

.navbar-section a,
.web-designer-section a {
  color: #ffe699;
  text-decoration: none;
}

.home-section,
.our-story-section,
.wedding-party-section,
.faq-section,
.travel-section,
.registry-section,
.rsvp-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 325px;
}

.home-section h1 {
  font-family: "Arsenal", sans-serif;
  font-size: 70px;
}

.home-section h2 {
  font-family: "Parisienne", cursive;
  font-size: 30px;
}

.home-section p {
  font-weight: bold;
}

.our-story-section h1,
.wedding-party-section h1,
.travel-section h1,
.registry-section h1,
.rsvp-section h1 {
  font-family: "Parisienne", cursive;
  font-size: 45px;
}

.banner,
.stinger {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.banner img {
  height: 400px;
  width: 1000px;
}

.stinger img {
  height: 300px;
  width: relative;
}

.buttonStyle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
  margin: 0 auto;
  background-color: #c21f1f;
  border: 3px solid #ffe699;
  border-radius: 5px;
}

.buttonStyle a {
  color: white;
  font-weight: bold;
  font-size: 30px;
  text-decoration: none;
}

.wedding-party-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.wedding-party-list h2 {
  font-family: "Parisienne", cursive;
  font-size: 35px;
}

.bride-side-section {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.bride-side-columns {
  display: flex;
  flex-direction: row;
}

.bride-side-column-one {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.bride-side-column-two {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.groom-side-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
}

.groom-side-columns {
  display: flex;
  flex-direction: row;
}

.groom-side-column-one {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.groom-side-column-two {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.bride-side-column-one img,
.bride-side-column-two img,
.groom-side-section img,
.groom-side-column-one img,
.groom-side-column-two img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 5px solid #ffe699;
}

.rsvp-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rsvp-section p {
  margin-left: 710px;
  margin-right: 710px;
}

.rsvp-section input{
  width: 300px;
  height: 30px;
  margin: 10px;
  text-align: center;
}

.footer-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  font-size: 14px;
  font-weight: bold;
  height: 50px;
  bottom: 0;
  width: 100%;
}

.copyright-section,
.web-designer-section {
  display: flex;
  align-items: center;
}
